    <footer>
      <nav class="navbar fixed-bottom bg-body-tertiary" data-bs-theme="dark">
        <h6 class="nav-text text-white"> &copy; 2025 Made By Fatimah Kamal </h6>
        <div class="container-fluid">
          
      </nav>
    </footer>
  </body>
</html>