<% include partials/header %>
<% include partials/main_nav %>

<div class="wrapper">

  <div id="banner">
    <br>
    <h1>Get to Know Me</h1>
  </div>

  <!-- Image  -->
  <div class="card mb-3" style="width: 18rem;">
 
    <div class="card-body">
      <h5 class="card-title">Hello! My name is Fatimah Kamal</h5>
      <p class="card-text">I am a third-year student at Ontario Tech University, pursuing a degree in Networking and IT Security.</p>
    </div>
  </div>



</div> -->

<% include partials/footer %>
