<% include partials/header %>
<% include partials/main_nav %>

<!DOCTYPE html>
<html>
    
<h1>Welcome To MY Portfolio</h1>

<article>
  
  <div class="card h-100 text-bg-info mb-3">
    <div class="card-body">
      <h5 class="card-title">Who am I?</h5>
      <p class="card-text">I am a third-year student at Ontario Tech University, pursuing a degree in Networking and IT Security.</p>
    </div>
  </div>

  <div class="card h-100 text-bg-info mb-3">
    <div class="card-body">
      <h5 class="card-title">My Work</h5>
      <p class="card-text">This is my Portfolio. To see more of my projects, go to the "Projects" page.</p>
    </div>
  </div>

  <div class="card h-100 text-bg-info mb-3">
    <div class="card-body">
      <h5 class="card-title">About Me</h5>
      <p class="card-text">To learn more about me, go to the "About Me" page.</p>
    </div>
  </div>

  <div class="card h-100 text-bg-info mb-3">
    <div class="card-body">
      <h5 class="card-title">How to Contact Me</h5>
      <p class="card-text">To contact me, go to the "Contact Me" page.</p>
    </div>
  </div>

</article>

</html>

<% include partials/footer %>
