<% include partials/header %>
<% include partials/main_nav %>
  

<div class="mt-4"> 
  <p>Welcome to my Portfolio website! Feel free to look around.</p>
</div>

  <script src="/Script/app.js"></script>
<% include partials/footer %>

