<% include partials/header %>
<% include partials/main_nav %>



<!--The HTML5 doctype declaration is very simple-->
<!DOCTYPE HTML>
<!--All page content is inside the HTML element-->
<html>


<div id="banner">
<h1>Explore My Projects</h1>

</div>

<div id="boxes">

<h2>Have a look at the projects I have done so far! </h2>
<div class="row row-cols-1 row-cols-md-2 g-4">

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Networking Project</h5>
        <p class="card-text">Me and my team created a network and configured connections between our devices.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Orientation Event</h5>
        <p class="card-text">As an Event organizer, I planned and executed an orientation event for students at our University.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Computer Security Hack</h5>
        <p class="card-text">Me and my team created a false website that looks like a real website, and showed how hackers can fool people.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">POS Terminal Setup</h5>
        <p class="card-text">I organized a client company's restaurant menu efficiently and set up new POS terminal Hardware and Software.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Graphic Design</h5>
        <p class="card-text">With experience as a freelance graphic designer, I design logos and other visuals for stores.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Advertising and Digital Signage</h5>
        <p class="card-text">I created digital signage content for a client's restaurant to promote their menu items effectively.</p>
      </div>
    </div>
  </div>
</div>
</div>


</body>
</html>


<% include partials/footer %>
